#### 以下でSQLalchemy のengin作る。

from sqlalchemy import create_engine

engine = create_engine("{dialect}+{driver}://{username}:{password}@{host}:{port}/{database}?charset={charset_type})

In [1]:
# %apt update && apt upgrade -y
# %pip install mysql-python

In [15]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

# なんかlocalの中のdockerコンテナ(mysql)がLANの172.17.0.1にいるっぽい
engine = create_engine("mysql://user01:pass01@172.17.0.1:3306/world")

In [16]:
df = pd.read_sql("SELECT * FROM country;", engine)
print(df)

    Code          Name      Continent                     Region  SurfaceArea  \
0    ABW         Aruba  North America                  Caribbean        193.0
1    AFG   Afghanistan           Asia  Southern and Central Asia     652090.0
2    AGO        Angola         Africa             Central Africa    1246700.0
3    AIA      Anguilla  North America                  Caribbean         96.0
4    ALB       Albania         Europe            Southern Europe      28748.0
..   ...           ...            ...                        ...          ...
234  YEM         Yemen           Asia                Middle East     527968.0
235  YUG    Yugoslavia         Europe            Southern Europe     102173.0
236  ZAF  South Africa         Africa            Southern Africa    1221037.0
237  ZMB        Zambia         Africa             Eastern Africa     752618.0
238  ZWE      Zimbabwe         Africa             Eastern Africa     390757.0

     IndepYear  Population  LifeExpectancy       GNP    GNPOld  \
0          NaN      103000            78.4     828.0     793.0
1       1919.0    22720000            45.9    5976.0       NaN
2       1975.0    12878000            38.3    6648.0    7984.0
3          NaN        8000            76.1      63.2       NaN
4       1912.0     3401200            71.6    3205.0    2500.0
..         ...         ...             ...       ...       ...
234     1918.0    18112000            59.8    6041.0    5729.0
235     1918.0    10640000            72.4   17000.0       NaN
236     1910.0    40377000            51.1  116729.0  129092.0
237     1964.0     9169000            37.2    3377.0    3922.0
238     1980.0    11669000            37.8    5951.0    8670.0

                 LocalName                                GovernmentForm  \
0                    Aruba  Nonmetropolitan Territory of The Netherlands
1    Afganistan/Afqanestan                               Islamic Emirate
2                   Angola                                      Republic
3                 Anguilla                 Dependent Territory of the UK
4                Shqipëria                                      Republic
..                     ...                                           ...
234               Al-Yaman                                      Republic
235            Jugoslavija                              Federal Republic
236           South Africa                                      Republic
237                 Zambia                                      Republic
238               Zimbabwe                                      Republic

                 HeadOfState  Capital Code2
0                    Beatrix    129.0    AW
1              Mohammad Omar      1.0    AF
2    José Eduardo dos Santos     56.0    AO
3               Elisabeth II     62.0    AI
4             Rexhep Mejdani     34.0    AL
..                       ...      ...   ...
234       Ali Abdallah Salih   1780.0    YE
235       Vojislav Koštunica   1792.0    YU
236              Thabo Mbeki    716.0    ZA
237        Frederick Chiluba   3162.0    ZM
238         Robert G. Mugabe   4068.0    ZW

[239 rows x 15 columns]